body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 30px;
}

.world-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-1st-sec {
    width: 50%;
    padding-left: 5%;

}

.half-1st-sec img {
    width: 70%;
}

.anchor {
    text-decoration: none;
    font-width: 700px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.one-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.secound-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.text-center {
    text-align: center;
}

.shadow-use {
    box-shadow: 10px 10px 30px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 20px;

}

.third-banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left
}

#first-one {
    border-left: 7px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;

}

#secound-one {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}